
<div id="div_presentation" class="div_presentation">
  <h3 class="h3_titre">Projet: </h3>
  <p class="p_presentation">  
    L’objectif de notre projet consiste à exploiter l’API de Youtube pour extraire les vidéos d’une chaîne et analyser les commentaires associés. Cette analyse permet d’identifier les termes les plus fréquemment utilisés, lesquels sont ensuite utilisés pour générer un nuage de mots.
    Cela permet de détecter les sujets abordés dans les commentaires, offrant ainsi à l'utilisateur une vue globale des réactions sur une vidéo.
  </p>
</div>
