/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
    margin: 0;
    height: 100%;
    background-color: #1d2127;
    font-family: Comfortaa;
    color: rgba(255, 255, 255, 0.92);
}

form {
    width: 100%;
}   

.div_boutton_analyse {
    border-radius: 5px;
    margin-right: 5px;
}

.h3_titre, .p_presentation {
    font-family: 'Bentham', serif;
    font-size: 2.5rem;
    padding-left: 60px;
    padding-right: 60px;
}

.nav_app {
    width: 100%;
    background-color: #17181B;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom:#282A2D 2px solid;
}

.nav_app h3 {
    font-size: 2em;
    margin-right: 30px;
    margin-left: 30px;
}

.nav_app a {
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.92);
    padding: 0.5em;
    margin-left: 20px;
}

.nav_app a:hover {
    background-color: rgba(232, 234, 237, 0.12);
    border-radius: 0.5rem;
}

.button_recherche {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: 10px;
}

.label_title {
    display: block;
    font-size: 3em;
}
  
.input_recherche, .label_title {
    margin: 0.4rem 0;
}


.input_recherche, .select_order, .select_nb{
    color: rgba(255, 255, 255, 0.92);
    font-size: 1em;
    padding: 15px;
    border: #282A2D 2px solid;
    background: #17181B;
}
.input_recherche{
    width: 100%;
    height: 70px;
    border-radius: 24px;    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
}

.select_order{
    width: 30%;
    height: 70px;
    font-family: 'Comfortaa', sans-serif;
    border: none;
    border-right: black 1px solid;
    border-left: black 1px solid;
}

.select_nb{
    width: 10%;
    height: 70px;
    border-radius: 24px;    
    font-family: 'Comfortaa', sans-serif;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
}

.icon{
    color: rgba(255, 255, 255, 0.92);
}

.input_api_key {
    margin-right: 15px;
}

.div_api_input {
    display: none;
}

button {
    height: 70px;
}

.div_principale {
    margin: auto;
    width: 60%;
}

.div_cache{
    display: none;
}

.div_voir{
    display: block;
}

.div_recherche_input {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
}

.div_input_button {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.div_container_videos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.img_video_miniature {
    border-radius: 14px;
    transform: scale(0.9);
}

.div_video {
    display:flex;
    cursor: pointer;
    border-radius: 0.75rem;
    border: #282A2D 2px solid;
    padding: 2em;
    background: #17181B;
    margin-bottom: 10px;
}

.div_video_title {
    margin: 0;
    margin-left: 10px;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    align-items: center;

}

.div_comment {
    padding: 10px;
}

.div_comment_miniature {
    display: flex;
    align-items: center;
}

.img_pdp {
    border-radius: 20px;
}

.p_author_name {
    margin-left: 10px;
    font-size: 2em;
    font-size: 2em;
    margin: 0;
    margin-left: 10px;
    font-family: 'Dosis', sans-serif;

}

.div_container_channels {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.button_image {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.img_channel_miniature {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    transform: scale(1);
}

.div_nuage {
    margin: auto;
    width: 60%;
    margin-top: 50px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    line-height: 2.5rem;
    justify-content: center;
}

.ul_nuage {
    width: 100%;
    background-color: #17181B;
    border: #282A2D 2px solid;
    padding: 50px;
    border-radius: 30px;
}

ul a {
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
  }